@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 480px) {
    /*  .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    } */

    .card {
        grid-column: auto/span 2;
        grid-row: auto/span 2;

    }
}

* {
    font-family: 'Roboto', sans-serif;

}

.prompt::-webkit-scrollbar {
    width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
    background-color: #666e75;
    border-radius: 5px;
}

.button-class-name {
    font-size: 20px;
}

.scrollbar-padding {
    width: calc(100% - 3px);

    height: calc(100% - 3px);

    padding-right: 8px;

    padding-bottom: 3px;

    overflow: auto;
}


.scrollbar-padding::-webkit-scrollbar {
    width: 7px;
}

.scrollbar-padding::-webkit-scrollbar-thumb {
    background: #888;

    border-radius: 8px;
}

.scrollbar-padding::-webkit-scrollbar-thumb:hover {
    background: #555;

}


.outerWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerWrapper {
    width: 90%;
    margin: 0 auto;
}


.btn-back {
    text-decoration: none;
}

.btn-back:hover {
    text-decoration: underline;
}

.content {
    text-align: left;
}


.some-network {
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}


@keyframes dot {

    0%,
    20%,
    80%,
    100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

.loader span {
    animation-name: dot;
    animation-duration: 1.9s;
    animation-iteration-count: infinite;
}

.loader span:nth-child(1) {
    animation-delay: 0.3s;
}

.loader span:nth-child(2) {
    animation-delay: 0.6s;
}

.loader span:nth-child(3) {
    animation-delay: 0.9s;
}



@media screen and (max-width: 1080px) {
    .innerWrapper {
        width: 100%;
        margin: 0 auto;
    }
}


@media screen and (min-width: 1600px) {
    .innerWrapper {
        width: 90%;
        margin: 0 auto;
    }
}